<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="/shortcut icon" href="NVS.png" type="image/png" />
    <link rel="stylesheet" href="/css_home.css" text="type/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <h1>NEW VISION STORE</h1>
                <li><a href="/cadastro-nvs.html">Cadastre-se</a> <a href="/login-nvs.html">Login</a> <a href="#">Comunidade</a> <a href="#">Sobre</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="carrosel">
            <br>
            <h1>Descubra nossos produtos!</h1>
            <br>
            <ul class="slider">
                <li>
                      <input type="radio" id="slide1" name="slide" checked>
                      <label for="slide1"></label>
                      <img src="/KyrieBob.jpg" />
                </li>
                <li>
                      <input type="radio" id="slide2" name="slide">
                      <label for="slide2"></label>
                      <img src="/jerseys.jpg"/>
                </li>
                <li>
                      <input type="radio" id="slide3" name="slide">
                      <label for="slide3"></label>
                      <img src="/Lebron19.jpg" />
                </li>
            </ul>
            <br> <br> <br> <br> <br> <br> <br> <br>
        </section>
        <section class="py-5">
            <div class="geral_produtos">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="Produtos">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/LakersAss.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Lakers Association Jersey</h5>
                                    <!-- Product price-->
                                    449.99R$
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Produto</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="Produtos">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/NikeBaller.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Bola Nike Baller</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">99.99R$</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Produto</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="Produtos">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/LebronXX.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Nike Lebron XX "The Debut"</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">1499.99R$</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Produto</a></div>
                            </div>
                        </div>
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/Golden State.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">GSW Association Jersey</h5>
                                    <!-- Product price-->
                                    449.99R$
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Produto</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="Produtos">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/KD15.png" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Nike KD15</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">99.99R$</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Produto</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="Produtos">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="/LebronXX.jpg" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Nike Lebron XX "The Debut"</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through">1499.99R$</span>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Ver Produto</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <a href="#">Jogos</a>
        <li>Explore masmorras</li>
        <li>Multiplayer online</li>
        <h1>©New Vision Store 2023</h1>
    </footer>
</body>
</html>
